body {
    font-family: sans-serif;
    font-style: normal;
}

.text {
    font-size: 18px;

}

h1,
.text {
    text-align: justify;
}

@media (max-width: 767px) {
    .video-container,
    .text-container {
        width: 480px;
    }

    video {
        width: 480px;
    }
}

@media (min-width: 768px) {
    .video-container,
    .text-container {
        width: 752px;
        display: inline-block;
        vertical-align: middle;
    }

    .text-container {
        padding-left: 30px;
        padding-right: 30px;
        box-sizing: border-box;
    }
    
    video {
        width: 752px;
    }
}